.I-product{
    background: none !important;
}
.I-product .product-flex{
	padding: 80px 0;
	display: flex;
/*	align-items: center;*/
}
.I-product .product-flex .product-layout{
	width: 50%;
	padding: 0 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.I-product .product-flex .product-layout.w-60{
	width: 60%;
}
.I-product .product-flex .product-layout.w-40{
	width: 40%;
}

.I-product .product-flex .product-layout .product-image-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: none !important;
    background-color: #eee !important;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px
}

.I-product .product-flex .product-layout .product-image-bg img{
	width: 60%;
}
.I-product .product-flex .product-layout .product-title{
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	color: var(--root-color);
	padding: 0 0 16px 0;
	position: relative;
}

.I-product .product-flex .product-layout .product-name{
	font-size: 32px;
	line-height: 32px;
	font-weight: 500;
	color: var(--root-color);
	margin: 0 0 40px 0;
}
.I-product .product-flex .product-layout .product-description{
	font-size: 32px;
	line-height: 36px;
	font-weight: 500;
	color: #343D6C;
	margin: 0 0 12px 0;
}
.I-product .product-flex .product-layout .product-description span{

	display: inline-block;
}
.I-product .product-flex .product-layout .product-description span.item-title{
	width: 30%;
	display: inline-block;
}
.I-product .product-flex .product-layout .product-more{
	display: inline-block;
	max-width: 180px;
	padding: 8px 48px;
	font-weight: 600;
	border: 1px solid var(--root-color);
	border-radius: 4px;
	color: var(--root-color);
	text-align: center;
}
.I-product .product-flex .product-layout .product-download{
	background-color: #EBECF1;
	width: 120px;
	color: var(--root-color);
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 0 10px;
}
.I-product .product-flex .product-layout .product-download img{
	width: auto;
	height: 90%
}


@media only screen and (max-width: 1600px){

}
@media only screen and (max-width: 1480px){ 

}
@media only screen and (max-width: 1280px){ 
	
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 767px){
	.I-product .wrapper{
		padding: 0;
	}
	.I-product .product-flex .product-layout .product-image-bg{
		width: 100%;
	}
	.I-product .product-flex{
		display: block;
	}
	.I-product .product-flex .product-layout{
		padding: 0 !important;
		width: 100%; 
		max-width: 450px;
		margin: auto;
	}
	.I-product .product-flex .product-layout.w-60{
		width: 100%;
	}
	.I-product .product-flex .product-layout.w-40{
		width: 100%;
	}
	.I-product  .product-flex .product-layout.content-layout{
		padding: 0 20px !important;
	}
	.I-product .product-flex .product-layout .product-title{
		font-size: 36px;
		font-weight: 800;
		line-height: 48px;
		color: var(--root-color);
		padding: 0 0 35px 0;
		position: relative;
	}
	.I-product .product-flex .product-layout .product-description span.item-title{
		width: 40%;
	}
	.I-product .product-flex .product-layout .product-description span.item-title{
		width: 100%;
		font-weight: 600;
	}
	.I-product .product-flex .product-layout .product-description{
		margin: 0 0 12px 0;
	}
	.I-product .product-flex .product-layout .product-more{
		margin: 0 0 20px 0;
	}
}
@media only screen and (max-width: 575px){

} 
